{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Armin van Buuren ft. Laura V</h1>
    <h2>Drowing</h2>
    <p>
Rush ,pull me under<br/>
The world is at my feet<br/>
It’s no wonder
</p>
    <p>
Your eyes speak to me<br/>
Tell me be calm<br/>
Tell me be strong
</p>
    <p>
Swimming out so deep<br/>
Now I can’t breathe<br/>
And it’s exactly where I belong
</p>
    <p>
Cause it feels like a run of a lifetime<br/>
And nothing’s gonna save us now<br/>
Let the waves come crashing down
</p>
    <p>
Cause it feels like I’m right for the first time<br/>
And everytime I take you in<br/>
I feel my heart skip a beat again
</p>
    <p>
I am drowning in your love<br/>
( I'am drowing, I'am drowing, I'am drowing, I'am drowing )<br/>
Cause I’m drowning in your love<br/>
( I'am drowing, I'am drowing, I'am drowing, I'am drowing )
</p>
    <p>
Love, It’s taking over<br/>
There is no in betweens<br/>
Till I find me come cover
</p>
    <p>
The tide is coming, I don't know if I can take it<br/>
I lose my focus, lose my focus<br/>
With every breath I feel my inhibition breaking<br/>
I can’t control it, no no no…
</p>
    <p>
Cause it feels like a ride of a lifetime<br/>
And nothing’s gonna save us now<br/>
Let the waves come crashing down
</p>
    <p>
Cause it feels like I’m right for the first time<br/>
And everytime I take you in<br/>
I feel my heart skip a beat again<br/>
</p>
    <p>
I’m drowning in your love 
    </p>
</article>
{% endblock %}
